
body{
  background-color: transparent;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  padding-top: 330px;
  @include transition(padding-top .5s ease);
}

header{
  background-color: transparent;
  width: 100%;
  text-align: center;
  top: 0;
  overflow: hidden;
  @include transition(all .5s ease);
  position: fixed;
  z-index: 99;
}

header h1 {
  font-size: 42px;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    margin-bottom: 0;
}

h2{
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 2;
  color: #2c3e50;
}
p{
  margin-bottom: 2rem;
  line-height: 2;
  color: #7f8c8d;
}


body {
  background-color: #111111;
  margin: 0;
  overflow-x: hidden;
}

main {
  background-color: transparent;
  z-index: 0;
}

main h1 {
  background-color: transparent;
}

.ant-menu-item {
  color: #fff !important;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
  z-index: -9;
  color: #fff;
}

.title {
  width: 100%;
}

.content {
  color: aliceblue;

}

.content p {
  color: aliceblue;
    font-size: 1.2em;
}

.content h2{
  font-size: 28px;
  font-weight: 500;
  line-height: 2;
  color: #0f87ff;
}

.contact ul {
  list-style: none;
  padding: 5px 5px;
  margin: 0
}

.contact li {
  padding: 5px 5px;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}